on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  unit tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-go@v5
    - run: go test -v -race ./...
